.forecast_container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 15px;
  justify-content: center;
  border: 2px solid pink;
  padding: 20px;
  border-radius: 10px; 
  margin-bottom: 200px;
}

.daily_forecast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0; 
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.forecast_header {
  border: 2px solid pink;
  padding: 20px;
  border-radius: 10px; 
  text-align: center; 
  font-size: 2em; 
  width: 100%; 
  margin-bottom: 20px; 
}
