.weather_data_container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 4rem;
  margin-left: -15em;
}

.weatherOuterContainer {
  display: flex;
  flex-direction: column;
}

.weatherContainer {
  font-size: 60px;
  font-weight: 600;
  width: 200%;
  margin-bottom: 0.5em;
}

.bigWeather {
  font-weight: 900;
  background-color: #DB7F73;
  padding: 0rem 1rem;
  color: white;
  border-radius: 4px;
}

.location {
  text-transform: capitalize;
}

.tempContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.vectorContainerTabletPhone {
  display: none;
}

.bigTemp {
  font-size: 56px;
  font-weight: 700;
  margin: 0;
  line-height: 100%;
}

.subInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.subTemp {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.subText {
  font-size: 16px;
  font-weight: 500;
  color: #545454;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.errormsg {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 110%;
  margin: 0;
}

.suberrormsg {
  font-size: 1.5rem;
  font-weight: 600;
  color: #545454;
  margin-bottom: 4rem;
}

.returnbtn {
  background-color: transparent;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 4rem;
  cursor: pointer;
}

/* .weather_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp_data,
.weather_type_data,
.sunrise_sunset_data,
.weather_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.temp_data_current {
  font-size: 6rem;
}

.temp_data_feelslike {
  font-size: 2rem;
} */



/* IPhone XR */

@media only screen and (max-width : 700px) {

  .weather_data_container {
    gap: 4rem;
    margin-left: 0;
    justify-content: center;
  }

  .weatherContainer {
    font-size: 7vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .vectorContainerTabletPhone {
    display: flex;
    margin-bottom: 3em;
  }

  .vectorImage {
    width: 100%;
    height: auto;
  }

  .vectorContainerDesktop {
    display: none;
  }

  .bigWeather {
    border-radius: 8px;
  }

  .tempContainer {
    /* gap: 5rem; */
    justify-content: center;
  }

  .bigTemp {
    font-size: 24pt;
  }

  .subInfo {
    gap: 1rem;
  }

  .subText {
    font-size: 4vw;
    gap: 1rem;
  }

  .iconS {
    height: 100%;
  }

  .errormsg {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 110%;
    margin: 0;
  }

  .suberrormsg {
    font-size: 1.5rem;
    font-weight: 600;
    color: #545454;
    margin-bottom: 4rem;
  }

}

/* Tablet */

@media only screen and (min-width : 700px) and (max-width : 1200px) {
  .weather_data_container {
    gap: 2rem;
    flex-direction: column-reverse;
    margin-left: 0em;
    width: 100%;
    padding-left: 5em;
  }

  .weatherContainer {
    font-size: 60px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 0.5em;
  }

  .vectorContainerTabletPhone {
    display: flex;
    margin-bottom: 3em;
  }

  .vectorContainerDesktop {
    display: none;
  }

  .bigWeather {
    border-radius: 8px;
  }

  .subText {
    font-size: 24px;
  }

}