.weather_data_container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 4rem;
  margin-left: -15em;
}

.weatherOuterContainer {
  display: flex;
  flex-direction: column;
}

.weatherContainer {
  font-size: 60px;
  font-weight: 600;
  width: 200%;
  margin-bottom: 0.5em;
}

.bigWeather {
  font-weight: 900;
  background-color: #DB7F73;
  padding: 0rem 1rem;
  color: white;
  border-radius: 4px;
}

.location {
  text-transform: capitalize;
}

.tempContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.bigTemp {
  font-size: 56px;
  font-weight: 700;
  margin: 0;
  line-height: 100%;
}

.subInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.subTemp {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.subText {
  font-size: 16px;
  font-weight: 500;
  color: #545454;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.errormsg {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 110%;
  margin: 0;
}

.suberrormsg {
  font-size: 1.5rem;
  font-weight: 600;
  color: #545454;
  margin-bottom: 4rem;
}

.returnbtn {
  background-color: transparent;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 4rem;
  cursor: pointer;
}

/* .weather_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp_data,
.weather_type_data,
.sunrise_sunset_data,
.weather_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.temp_data_current {
  font-size: 6rem;
}

.temp_data_feelslike {
  font-size: 2rem;
} */



/* IPhone XR */

@media only screen and (device-width : 414px) and (device-height : 896px) {
  .weather_data_container {
    gap: 4rem;
  }
  
  .weatherContainer {
    font-size: 80px;
  }
  
  .bigWeather {
    border-radius: 8px;
  }
  
  .tempContainer {
    gap: 5rem;
  }
  
  .bigTemp {
    font-size: 120px;
  }
  
  .subInfo {
    gap: 1rem;
  }
  
  .subText {
    font-size: 40px;
    gap: 1rem;
  }

  .iconS {
    height: 100%;
  }
  
  .errormsg {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 110%;
    margin: 0;
  }
  
  .suberrormsg {
    font-size: 1.5rem;
    font-weight: 600;
    color: #545454;
    margin-bottom: 4rem;
  }
  
}

/* Tablet */

@media only screen and (min-device-width : 768px) and (max-device-width : 900px)  { 
  .weather_data_container {
    gap: 2rem;
  }
  
  .bigWeather {
    border-radius: 8px;
  }
  
  .subText {
    font-size: 24px;
  }

}