@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
  margin: 0;
}

body {
  margin: 0rem;
}

header {
  display: flex;
  align-self: center;
  justify-content: center;
}

.page {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.button {
  display: none;
}

.search {
  min-width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  justify-content: center;
  align-content: center;
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--Light-Grey---Supplementary, #B6B6B6);
  padding-left: 2.8rem;
  font-size: 16px;
  font-weight: 500;
}

.searchInput::placeholder {
  font-size: 16px;
  font-weight: 500;
}

.icon {
  position: absolute;
  margin: 1rem;
}

.landing {
  width: 100%;
  background-color: #FAFAFA;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  flex-grow: 1;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 35rem;
}

.landingHeading {
  color: #000;
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 1rem;
}

.landingBody {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.vector-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.vector {
  height: 75%;
  width: auto;
}

/* Weather Page */

.weather-homepage {
  width: 100%;
  background-color: #FAFAFA;
  border-radius: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.weather-main {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question-heading {
  color: #545454;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.iconL {
  position: absolute;
  margin: 1rem;
}

/* Activities */

.cardPage {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.cardContainer {
  display: flex;
  width: 100%;
  padding: 0rem 5rem;
}

.back {
  position: absolute;
  height: 3rem;
  width: 3rem;
  left: 6rem;
  top: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.backimg {
  width: 100%;
  height: 100%;
}


/* IPhone XR */

@media only screen and (device-width : 414px) and (device-height : 896px) {
  
  body {
    padding-top: 8px;
    width: 100%;
    /* height: 100%; */
    margin-left: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }
  
  .search {
    gap: 2rem;
    padding: 0;
    width: 100%;
    margin-top: 40px;
  }
  
  .searchInput {
    border-radius: 8px;
    font-size: 32px;
    padding-left: 70px;
  }
  
  .searchInput::placeholder {
    font-size: 32px;
  }

  .icon {
    height: 28px;
    width: 28px;
    margin-left: 24px;
  }
  
  .landing {
    flex-direction: column;
    gap: 0;
    padding: 2em;
    width: 200%;
  }
  
  .text {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: -150px;
  }
  
  .landingHeading {
    font-size: 56px;
    width: 800px;
    margin-bottom: 1rem;
  }
  
  .landingBody {
    font-size: 36px;
    width: 700px;
    margin-bottom: 4em;
  }
  
  .vector {
    height: 100%;
  }
  

  /* Weather Page */
  
  .weather-homepage {
    background-color: #FFFF;
    flex-direction: column;
    gap: 4rem;
  }
  
  .weather-main {
    width: 200%;
    margin-left: 2em;
    gap: 1rem;
  }
  
  .question-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
  }
  
  .link {
    background-color: #DB7F73;
    border: solid 1px #DB7F73;
    border-radius: 16px;
    color: #FFFF;
    font-size: 40px;
    font-weight: 700;
    height: 100px;
    padding-left: 16px;
  }
  
  .question-heading {
    margin-top: 1em;
    font-size: 32px;
  }
  
  .iconL {
    height: 8%;
    width: 10%;
  }

  
  /* Activities */
  
  .cardContainer {
    padding: 0rem;
  }
  
  .back {
    height: 4rem;
    width: 4rem;
    left: 4rem;
    top: 4rem;
  }
}


/* Tablet */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

  h1 {
    font-size: 40px;
    text-align: center;
  }
  
  header {
    margin-top: 24px;
  }
  
  .searchInput {
    font-size: 20px;
    padding-left: 64px;
  }
  
  .searchInput::placeholder {
    font-size: 20px;
  }
  
  .icon {
    position: absolute;
    margin: 1.4em;
    height: 24px;
    width: 24px;
  }
  
  .landing {
    flex-direction: column;
    gap: 0rem;
    padding: 2em;  
  }
  
  .vector {
    height: 90%;
  }
  

  /* Weather Page */
  
  .weather-homepage {
    background-color: #FFFF;
    flex-direction: column;
    gap: 4rem;
  }
  
  .weather-main {
    width: 80%;
    margin-left: 2em;
  }
  
  .link {
    background-color: #DB7F73;
    border: solid 1px #DB7F73;
    border-radius: 8px;
    color: #FFFF;
    font-size: 24px;
    font-weight: 700;
    padding-left: 16px;
  }
  
  .question-heading {
    color: #545454;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }
  
  .iconL {
    height: 2%;
  }

  
  /* Activities */
  
  .cardPage {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  
  .cardContainer {
    display: flex;
    width: 100%;
    padding: 0rem 5rem;
  }
  
  .back {
    position: absolute;
    height: 3rem;
    width: 3rem;
    left: 6rem;
    top: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .backimg {
    width: 100%;
    height: 100%;
  }
  
}