
.weather_forecast_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4rem;
}
  
  .weatherOuterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
    margin-left: 5em;
    margin-top: 2em;
  }
  
  .bigWeather {
    font-weight: 900;
    background-color: #DB7F73;
    padding: 0rem 1rem;
    color: white;
    border-radius: 4px;
  }
  
  .location {
    text-transform: capitalize;
  }
  
  .tempContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .vectorContainerTabletPhone {
    display: none;
  }
  
  .bigTemp {
    font-size: 56px;
    font-weight: 700;
    margin: 0;
    line-height: 100%;
  }
  
  .subInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .subTemp {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .subText {
    font-size: 16px;
    font-weight: 500;
    color: #545454;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
  }
  
  .errormsg {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 110%;
    margin: 0;
  }
  
  .suberrormsg {
    font-size: 1.5rem;
    font-weight: 600;
    color: #545454;
    margin-bottom: 4rem;
  }
  
  .returnbtn {
    background-color: transparent;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 4rem;
    cursor: pointer;
  }

  .forecast_container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-left: 3em;

  }
  
  .daily_forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .daily_forecast p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mainIcon {
    margin-left: 1em;  
  }

  /* Tablet */

@media only screen and (min-device-width : 768px) and (max-device-width : 900px)  { 

.weather_forecast_container {
  gap: 2rem;
}

.weatherOuterContainer {
  gap: 4em;
  margin-left: 8em;
}

.bigTemp {
  font-size: 80px;
}

.subText {
  font-size: 24px;
}

.forecast_container {
  margin-left: 8em;
}

.daily_forecast p {

  font-size: 18px;
}

.mainIcon {
  height: 48px;
  width: 48px;
}
}